/* Home.css */
.landing-container {
    background-image: url('../../src/assets/Untitled\ design.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
.portalContainer{
  color: aliceblue;
}

.names {
  text-align: center;
}

#spinner {
  border: 16px solid #348870;
  border-top: 16px solid #000000;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 45%;
  left: 45%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}